streamlit
librosa
soundfile
matplotlib
scipy
numpy
demucs
torch==2.0.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchaudio==2.0.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
